@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.68rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #00678b !important;
}
.bg-warning {
  background-color: #2edfc5 !important;
}
.bg-danger {
  background-color: #801fbe !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #00678b !important;
  border-color: #00678b !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #002e3e !important;
  border-color: #002e3e !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #002e3e !important;
  border-color: #002e3e !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #2edfc5 !important;
  border-color: #2edfc5 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #1aa792 !important;
  border-color: #1aa792 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1aa792 !important;
  border-color: #1aa792 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #801fbe !important;
  border-color: #801fbe !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #54147c !important;
  border-color: #54147c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #54147c !important;
  border-color: #54147c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #001b25;
  color: #001b25;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #00678b;
  border-color: #00678b;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #00678b !important;
  border-color: #00678b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #16917f;
  color: #16917f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #2edfc5;
  border-color: #2edfc5;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #2edfc5 !important;
  border-color: #2edfc5 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #451166;
  color: #451166;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #801fbe;
  border-color: #801fbe;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #801fbe !important;
  border-color: #801fbe !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #00678b !important;
}
.text-warning {
  color: #2edfc5 !important;
}
.text-danger {
  color: #801fbe !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #001b25 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #16917f !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #451166 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #00678b;
}
.alert-warning {
  background-color: #2edfc5;
}
.alert-danger {
  background-color: #801fbe;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #0bc0ff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dffaf6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #bb74e8;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-swvzRmXXil .navbar {
  padding: .5rem 0;
  background: #000000;
  transition: none;
  min-height: 77px;
}
.cid-swvzRmXXil .navbar-dropdown.bg-color.transparent.opened {
  background: #000000;
}
.cid-swvzRmXXil a {
  font-style: normal;
}
.cid-swvzRmXXil .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-swvzRmXXil .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-swvzRmXXil .nav-item:focus,
.cid-swvzRmXXil .nav-link:focus {
  outline: none;
}
.cid-swvzRmXXil .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-swvzRmXXil .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-swvzRmXXil .menu-logo {
  margin-right: auto;
}
.cid-swvzRmXXil .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-swvzRmXXil .dropdown .dropdown-menu {
  background: #000000;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-swvzRmXXil .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-swvzRmXXil .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-swvzRmXXil .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-swvzRmXXil button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-swvzRmXXil button.navbar-toggler:focus {
  outline: none;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-swvzRmXXil .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-swvzRmXXil .collapsed .btn {
  display: -webkit-flex;
}
.cid-swvzRmXXil .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing,
.cid-swvzRmXXil .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-swvzRmXXil .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-swvzRmXXil .collapsed button.navbar-toggler {
  display: block;
}
.cid-swvzRmXXil .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-swvzRmXXil .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-swvzRmXXil .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-swvzRmXXil .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-swvzRmXXil img {
    height: 3.8rem !important;
  }
  .cid-swvzRmXXil .btn {
    display: -webkit-flex;
  }
  .cid-swvzRmXXil button.navbar-toggler {
    display: block;
  }
  .cid-swvzRmXXil .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-swvzRmXXil .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-swvzRmXXil .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing,
  .cid-swvzRmXXil .navbar-collapse.show {
    display: block !important;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-buttons,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-swvzRmXXil .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-swvzRmXXil .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-swvzRmXXil .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-swvzRmXXil .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-swvzRmXXil .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-swvzRmXXil .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-swvzRmXXil .nav-link:hover,
.cid-swvzRmXXil .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-sww82n4bk9 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/teatro-uno.jpg");
}
@media (min-width: 992px) {
  .cid-sww82n4bk9 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sww82n4bk9 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-sww82n4bk9 .mbr-text {
    text-align: center;
  }
}
.cid-sww82n4bk9 H1 {
  color: #ffffff;
  text-align: center;
}
.cid-sww82n4bk9 .mbr-text,
.cid-sww82n4bk9 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-swwjokWPlk {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-swwjokWPlk .mbr-section-subtitle {
  color: #767676;
}
.cid-swwjokWPlk H2 {
  color: #ffffff;
}
.cid-sww7eLOAvC {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sww7eLOAvC h4 {
  text-align: left;
  font-weight: 500;
}
.cid-sww7eLOAvC p {
  color: #767676;
  text-align: left;
}
.cid-sww7eLOAvC .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-sww7eLOAvC .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-sww7eLOAvC .card-title {
  margin-bottom: 0;
}
.cid-sww7eLOAvC .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sww7eLOAvC .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
@media (max-width: 300px) {
  .cid-sww7eLOAvC .card-img span {
    font-size: 40px !important;
  }
}
.cid-sww7eLOAvC P {
  color: #232323;
  text-align: center;
}
.cid-sww7eLOAvC .card-title,
.cid-sww7eLOAvC .card-img {
  text-align: center;
  color: #000000;
}
.cid-swvZrDoq5v {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-swvZrDoq5v .media-container-column {
  align-items: center;
  -webkit-align-items: center;
}
.cid-swvZrDoq5v .mbr-author-desc {
  display: block;
}
.cid-swvZrDoq5v .mbr-testimonial {
  flex-basis: auto;
  margin-top: 5rem;
  -webkit-flex-basis: auto;
}
.cid-swvZrDoq5v .mbr-testimonial .panel-item {
  background-color: #232323;
}
.cid-swvZrDoq5v .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2rem;
}
.cid-swvZrDoq5v .mbr-testimonial .card-block .testimonial-photo {
  margin-top: -5rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-swvZrDoq5v .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-swvZrDoq5v .mbr-testimonial .card-block p {
  margin: 0;
}
.cid-swvZrDoq5v .mbr-testimonial .card-footer {
  padding: 0 2rem 2rem 2rem;
  border-top: 0;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 260px) {
  .cid-swvZrDoq5v .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-swvZrDoq5v .mbr-text {
  color: #ffffff;
}
.cid-swvZrDoq5v .mbr-author-name {
  color: #ffffff;
}
.cid-swvZrDoq5v H2 {
  color: #000000;
}
.cid-swLOWtwtFo {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-swwl4masXp {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-swwl4masXp h4 {
  text-align: left;
  font-weight: 500;
}
.cid-swwl4masXp p {
  color: #767676;
  text-align: left;
}
.cid-swwl4masXp .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-swwl4masXp .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-swwl4masXp .card-title {
  margin-bottom: 0;
}
.cid-swwl4masXp .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-swwl4masXp .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
@media (max-width: 300px) {
  .cid-swwl4masXp .card-img span {
    font-size: 40px !important;
  }
}
.cid-swwl4masXp P {
  color: #ffffff;
  text-align: center;
}
.cid-swwl4masXp .card-title,
.cid-swwl4masXp .card-img {
  color: #ffffff;
  text-align: center;
}
.cid-swMnVWMToT {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-swMnVWMToT .media-container-column {
  align-items: center;
  -webkit-align-items: center;
}
.cid-swMnVWMToT .mbr-author-desc {
  display: block;
}
.cid-swMnVWMToT .mbr-testimonial {
  flex-basis: auto;
  margin-top: 5rem;
  -webkit-flex-basis: auto;
}
.cid-swMnVWMToT .mbr-testimonial .panel-item {
  background-color: #efefef;
}
.cid-swMnVWMToT .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2rem;
}
.cid-swMnVWMToT .mbr-testimonial .card-block .testimonial-photo {
  margin-top: -5rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-swMnVWMToT .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-swMnVWMToT .mbr-testimonial .card-block p {
  margin: 0;
}
.cid-swMnVWMToT .mbr-testimonial .card-footer {
  padding: 0 2rem 2rem 2rem;
  border-top: 0;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 260px) {
  .cid-swMnVWMToT .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-swMnVWMToT .mbr-text {
  color: #232323;
}
.cid-swMnVWMToT .mbr-author-name {
  color: #232323;
}
.cid-swMnVWMToT H2 {
  color: #ffffff;
}
.cid-swLOYiQXW3 {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #232323;
}
.cid-swMrJH11gy {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-swvccho4YR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-swvzRmXXil .navbar {
  padding: .5rem 0;
  background: #000000;
  transition: none;
  min-height: 77px;
}
.cid-swvzRmXXil .navbar-dropdown.bg-color.transparent.opened {
  background: #000000;
}
.cid-swvzRmXXil a {
  font-style: normal;
}
.cid-swvzRmXXil .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-swvzRmXXil .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-swvzRmXXil .nav-item:focus,
.cid-swvzRmXXil .nav-link:focus {
  outline: none;
}
.cid-swvzRmXXil .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-swvzRmXXil .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-swvzRmXXil .menu-logo {
  margin-right: auto;
}
.cid-swvzRmXXil .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-swvzRmXXil .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-swvzRmXXil .dropdown .dropdown-menu {
  background: #000000;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-swvzRmXXil .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-swvzRmXXil .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-swvzRmXXil .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-swvzRmXXil .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-swvzRmXXil .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-swvzRmXXil button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-swvzRmXXil button.navbar-toggler:focus {
  outline: none;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-swvzRmXXil button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-swvzRmXXil nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-swvzRmXXil .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-swvzRmXXil .collapsed .btn {
  display: -webkit-flex;
}
.cid-swvzRmXXil .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing,
.cid-swvzRmXXil .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-swvzRmXXil .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-swvzRmXXil .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-swvzRmXXil .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-swvzRmXXil .collapsed button.navbar-toggler {
  display: block;
}
.cid-swvzRmXXil .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-swvzRmXXil .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-swvzRmXXil .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-swvzRmXXil .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-swvzRmXXil .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-swvzRmXXil img {
    height: 3.8rem !important;
  }
  .cid-swvzRmXXil .btn {
    display: -webkit-flex;
  }
  .cid-swvzRmXXil button.navbar-toggler {
    display: block;
  }
  .cid-swvzRmXXil .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-swvzRmXXil .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-swvzRmXXil .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing,
  .cid-swvzRmXXil .navbar-collapse.show {
    display: block !important;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-buttons,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-swvzRmXXil .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-swvzRmXXil .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-swvzRmXXil .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-swvzRmXXil .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-swvzRmXXil .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-swvzRmXXil .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-swvzRmXXil .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-swvzRmXXil .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-swvzRmXXil .nav-link:hover,
.cid-swvzRmXXil .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-swMxWNFROy {
  padding-top: 135px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-swMxWNFROy P {
  color: #767676;
}
.cid-swMxWNFROy .mbr-text,
.cid-swMxWNFROy .mbr-section-btn {
  color: #232323;
}
.cid-swMxWNFROy H1 {
  color: #000000;
}
.cid-swMEGiUQ9M {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-swMEGiUQ9M .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-swMEGiUQ9M .mbr-content-text {
  color: #000000;
  margin-bottom: 0;
}
.cid-swMEGiUQ9M .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-swMEGiUQ9M .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-swMEGiUQ9M .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-swMEGiUQ9M .cards-block {
    border-top: 2px solid #cccccc;
  }
}
.cid-swMEGiUQ9M .cards-block .card {
  border-bottom: 2px solid #cccccc;
  border-radius: 0;
}
.cid-swMEGiUQ9M .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-swMEGiUQ9M .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-swMEGiUQ9M .media-block {
    padding-left: 2rem;
  }
}
.cid-swMEGiUQ9M .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-swMEGiUQ9M .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-swMEGiUQ9M .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-swMEGiUQ9M .mbr-section-title {
  color: #000000;
}
.cid-swMEGiUQ9M H4 {
  color: #000000;
}
.cid-swMJ67kwQq {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-swMJ67kwQq .mbr-section-subtitle {
  color: #232323;
}
.cid-swMJ67kwQq .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-swMJ67kwQq .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-swMJ67kwQq .team-item .item-image img {
  width: 100%;
}
.cid-swMJ67kwQq .team-item .item-name p {
  margin-bottom: 0;
}
.cid-swMJ67kwQq .team-item .item-role p {
  margin-bottom: 0;
}
.cid-swMJ67kwQq .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-swMJ67kwQq .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-swMJ67kwQq .team-item .item-caption {
  background: #ffffff;
}
.cid-swMJ67kwQq H2 {
  color: #000000;
}
.cid-swMEIaSd5f {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-swMEIaSd5f .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-swMEIaSd5f .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-swMEIaSd5f .item-wrapper {
  height: 100%;
}
.cid-swMEIaSd5f .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-swMEIaSd5f .carousel-control,
.cid-swMEIaSd5f .close {
  background: #1b1b1b;
}
.cid-swMEIaSd5f .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-swMEIaSd5f .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-swMEIaSd5f .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-swMEIaSd5f .close::before {
  content: '\e91a';
}
.cid-swMEIaSd5f .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-swMEIaSd5f .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-swMEIaSd5f .carousel-inner > .active {
  display: block;
}
.cid-swMEIaSd5f .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swMEIaSd5f .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-swMEIaSd5f .carousel-control .icon-next,
.cid-swMEIaSd5f .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-swMEIaSd5f .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-swMEIaSd5f .carousel-control,
  .cid-swMEIaSd5f .carousel-indicators,
  .cid-swMEIaSd5f .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-swMEIaSd5f .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-swMEIaSd5f .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-swMEIaSd5f .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-swMEIaSd5f .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-swMEIaSd5f .carousel-indicators {
    display: none;
  }
}
.cid-swMEIaSd5f .carousel-indicators .active,
.cid-swMEIaSd5f .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-swMEIaSd5f .carousel-indicators .active {
  background: #fff;
}
.cid-swMEIaSd5f .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-swMEIaSd5f .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-swMEIaSd5f .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-swMEIaSd5f .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-swMEIaSd5f .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-swMEIaSd5f .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-swMEIaSd5f .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-swMEIaSd5f .carousel {
  width: 100%;
}
.cid-swMEIaSd5f .modal-backdrop.in {
  opacity: 0.8;
}
.cid-swMEIaSd5f .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-swMEIaSd5f .modal.fade .modal-dialog,
.cid-swMEIaSd5f .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-swMEIaSd5f .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-swMEIaSd5f a {
  display: block;
}
.cid-swMEIaSd5f a.img {
  pointer-events: none;
}
.cid-swMEIaSd5f H3 {
  color: #000000;
}
.cid-swMEIaSd5f H4 {
  color: #000000;
}
.cid-swN0yrvUlG {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-swN0yrvUlG .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-swN0yrvUlG .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-swN0yrvUlG .item-wrapper {
  height: 100%;
}
.cid-swN0yrvUlG .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-swN0yrvUlG .carousel-control,
.cid-swN0yrvUlG .close {
  background: #1b1b1b;
}
.cid-swN0yrvUlG .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-swN0yrvUlG .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-swN0yrvUlG .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-swN0yrvUlG .close::before {
  content: '\e91a';
}
.cid-swN0yrvUlG .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-swN0yrvUlG .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-swN0yrvUlG .carousel-inner > .active {
  display: block;
}
.cid-swN0yrvUlG .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swN0yrvUlG .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-swN0yrvUlG .carousel-control .icon-next,
.cid-swN0yrvUlG .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-swN0yrvUlG .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-swN0yrvUlG .carousel-control,
  .cid-swN0yrvUlG .carousel-indicators,
  .cid-swN0yrvUlG .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-swN0yrvUlG .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-swN0yrvUlG .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-swN0yrvUlG .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-swN0yrvUlG .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-swN0yrvUlG .carousel-indicators {
    display: none;
  }
}
.cid-swN0yrvUlG .carousel-indicators .active,
.cid-swN0yrvUlG .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-swN0yrvUlG .carousel-indicators .active {
  background: #fff;
}
.cid-swN0yrvUlG .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-swN0yrvUlG .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-swN0yrvUlG .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-swN0yrvUlG .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-swN0yrvUlG .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-swN0yrvUlG .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-swN0yrvUlG .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-swN0yrvUlG .carousel {
  width: 100%;
}
.cid-swN0yrvUlG .modal-backdrop.in {
  opacity: 0.8;
}
.cid-swN0yrvUlG .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-swN0yrvUlG .modal.fade .modal-dialog,
.cid-swN0yrvUlG .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-swN0yrvUlG .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-swN0yrvUlG a {
  display: block;
}
.cid-swN0yrvUlG a.img {
  pointer-events: none;
}
.cid-swNjWxn1dw {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-swvccho4YR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
